### --- C/C++ STANDARD --- ###
# Ficheiros Objeto e Dependency files
*.o
*.ko
*.obj
*.elf
*.d

# Bibliotecas e Arquivos
*.lib
*.a
*.la
*.lo


# Shared objects (Linux/Windows/macOS)
*.dll
*.so
*.so.*
*.dylib

# Executáveis (Inlcui o teu 'main' e outros comuns)
main
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Executáveis específicos dos laboratórios (gerados via make)
lab1/cpd-terminal/cpd-terminal
lab1/cpd-terminal/fibonacci
lab2/omp1
lab2/omp2
lab3/mult-sync
lab3/mult-redux
lab3/mult-good
lab4/comp
lab4/hello
lab4/sendReceive

### --- DEBUG & PROFILING --- ###
# Ficheiros de Debug e Core Dumps (Essencial para o teu trabalho com GDB)
core
core.*
*.dSYM/
*.su
*.idb
*.pdb
*.dwo
gmon.out

### --- COMPILADORES & BUILD TOOLS --- ###
# Precompiled Headers
*.gch
*.pch

# Linker output
*.ilk
*.map
*.exp

# Kernel & Modules
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### --- IDE & SYSTEM --- ###
# Visual Studio Code (Configurações locais)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Linux/macOS System files
.DS_Store
.directory
*~
*.swp
*.swo

# AppleDouble (macOS/Dropbox)
._*

### --- LOGS & TEMPS --- ###
*.log
*.tmp
*.temp
